appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
black==19.10b0
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
Django==3.1
dnspython==1.15.0
dnspython3==1.15.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
isort==4.3.21
itemadapter==0.1.0
itemloaders==1.0.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
numpy==1.19.1
pandas==1.1.0
parsel==1.6.0
pathspec==0.8.0
Pillow==7.2.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pylint==2.4.4
pymongo==3.11.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytube3==9.6.4
pytz==2020.1
queuelib==1.5.0
regex==2020.5.7
requests==2.24.0
Scrapy==2.3.0
scrapy-selenium==0.0.7
scrapy-splash==0.7.2
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.0
Twisted==20.3.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.10
w3lib==1.22.0
wrapt==1.11.2
yapf==0.29.0
zope.interface==5.1.0
